* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  section {
    height: auto;
    width: 100%;
  }

  .container {
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
  }
  .common-outline-text {
    color: black;
    font-size: 2.125rem;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
    transform: translateY(0px);
    opacity: 1;
  }
  .common-heading {
    font-size: 2vw;
    width: 25vw;
    transform: translateY(0px);
    opacity: 1;
  }
  .common-paragraph-text {
    margin-top: 1vw;
    font-size: 0.8vw;   
    transform: translateY(0px);
    opacity: 1;
  }
  .common-outline-button {
    border: 1px solid #000;
    padding: 0.5vw 1.5vw;
    background: transparent;
    margin-top: 3vw;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1vw;
    transition: all 0.3s linear;
    animation: animateButton 0.3s linear;
  }
  .width40 {
    width: 40vw;
  }
  .position-absolute {
    position: absolute;
  }
  .position-relative {
    position: relative;
  }
  .width60 {
    width: 60vw;
  }
  .width50 {
    width: 50vw;
  }
  .top-right {
    top: 0;
    right: 0;
  }

.ourpeople-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    overflow: hidden;
    position: relative;
    .imageArea{
      height: 40vw;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      .img{
        height: 100%;
        width: auto;
        object-fit: fill;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transform: translateY(-100%);
        transition: all 1s ease;
      }
    }
    .textArea{
      height: 100%;
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      .common-paragraph-text{
        width: 25vw;
      }
      .common-outline-button{
        right: 8vw;
        position: relative;
      }
    }
  }
  .show {
    opacity: 1 !important;
    animation: slideUp 4s linear infinite;
  }
  
  @keyframes slideUp {
    
    0%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(0%);
    }
    75%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
  }